.hero {
	margin-bottom: 176px;
	&__container {
		padding: 60px 0 20px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__bottom-buttons {
		display: flex;
		justify-content: center;
	}
}