.reviews {
	background: url("~images/bg/reviews.jpg") center bottom /cover no-repeat;
	padding: 156px 0 198px 0;
	&__container {
		padding-right: 26%;
		@include desktop {
			padding-right: 0;
		}
	}
	&__section-title {
		color: $text-color;
		font-weight: bold;
		font-size: 36px;
		margin-right: 12%;
		@include phones {
			margin-right: 0;
			font-size: 24px;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}