.reviews {
	background: url("~images/bg/reviews.jpg") center bottom /cover no-repeat;
	padding: 156px 0 198px 0;
	&__container {
		padding-right: 26%;
	}
	&__section-title {
		color: $text-color;
		font-weight: bold;
		font-size: 36px;
		margin-right: 12%;
	}
}