.scroll-down-btn {
	background-color: transparent;
	display: flex;
	align-items: center;
	color: $text-color;
	cursor: pointer;
	&:hover {
		color: $yellow;
		.scroll-down-btn__icon {
			fill: $yellow;
		}
	}
	&__icon {
		width: 14px;
		height: 14px;
		fill: $text-color;
		margin-left: 15px;
	}
}
