.slider {
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 78px;
	}
	&__butons {
		display: flex;
	}
	&__content {
		display: flex;
	}
	&__content-item {
		width: 50%;
		flex-shrink: 0;
		padding-right: 30px;
	}
}