.tags {
	display: flex;
}  

.tag {
	font-size: 15px;
	color: $color-black;
	&__item {
		background: #F3F6F9;
		border-radius: 40px;
		padding: 14px 22px;
		transition: .2s;
		&+& {
			margin-left: 8px;
		}
	}
}
