.text-quote {
	color: rgba($text-color, .6);
	&__text {
		margin-bottom: 30px;
		line-height: 1.9em;
		@include tablets {
			margin-bottom: 16px;
		}
	}
	&__author {
		color: $text-color;
		font-style: italic;
	}
}