.thumbs {
	position: relative;
	display: flex;
	justify-content: flex-end;
	&__link {
		display: block;
	}
	&__item {
		width: 19%;
		transition: .2s;
		cursor: pointer;
		&.active,
		&:hover {
			outline: 3px solid #f29400;
			z-index: 1;
		}
	}
}