.user {
	&__avatar {
		margin-bottom: 67px;
		display: flex;
		justify-content: center;
	}
	&__data {
		width: 100%;
	}
	&__avatar-style {
		width: 200px;
		height: 200px;
		border-radius: 50% 50%;
		overflow: hidden;
	}
	&__data-content{
		padding-bottom: 15px;
	}
	&__data-title {
		color: rgba($text-color, .8);
		padding-right: 10px;
		padding-bottom: 15px;
	}
}