.userinfo {
	display: flex;
	justify-content: center;
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		color: rgba($text-color, .5);
		max-width: 170px;
		margin-right: 56px;
		text-align: right;
	}
	&__name {
		font-weight: 800;
		font-size: 72px;
		line-height: 60px;
		color: $text-color;
		flex-basis: 440px;
	}
}