
@import "../../../styles/mixins.pcss";
.headline{
	&-component {
		background: #43436B;
		color: rgba(255, 255, 255, 0.5);
	}
	&-container {
		display: flex;
		align-items: center;
		padding: 16px 0;
	}
}
 
.btn {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: underline;
	background-color: transparent;
}
.title {
	margin-left: 2%;
	@include tablets {
		display: none;
	}
}
.buttons {
	margin-left: auto;
}