include ./mixins.pug

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Portfolio | main page
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
	body
		div.wrapper
			div.maincontent
				block content
